*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../src/components/imgs/background\ white.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}